.Consumo {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 10rem;
  padding: 4rem 0 12rem 0;
  line-height: 1.15;
  position: relative;
  text-align: center;
}

.Consumo__contenedor {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.Consumo__boton_tabla {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--color-principal);
  color: var(--color-blanco);
  cursor: pointer;
  border-radius: .25rem;
  border: none;
  font-size: .6rem;
  padding: .25rem .5rem;
}

.Consumo__encabezado {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  text-align: center;
  font-weight: 700;
}

.Consumo__consumo_semanal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.35rem;
}

.Consumo__consumo_semanal--importante {
  border: 1px solid var(--color-principal);
  border-radius: 1rem;
  padding: 2rem 2rem;
  box-shadow: 0 .15rem .15rem var(--color-sombras);
}

.Consumo__iconos_tragos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 8rem;
}

.Consumo__icono_trago {
  font-size: 4rem;
  width: 1rem;
  color: #4A5568;
}

.Consumo__cifra_grande {
  font-size: 5rem;
  font-weight: 700;
}

.Consumo__cifra_pequeña {
  font-weight: 700;
  font-size: 1rem;
}

.Consumo__subtitulo_cifra {
  font-size: .85rem;
}

.Consumo__consumo_semanal--pequeño {
  font-size: 1rem;
}

.Consumo__consumo_semanal--pequeño .Consumo__encabezado {
  font-size: 1rem;
  margin-bottom: .25rem;
}

.Consumo__consumo_semanal--pequeño .Consumo__iconos_tragos {
  width: 5rem;
}

.Consumo__consumo_semanal--pequeño .Consumo__icono {
  font-size: 1rem;
  width: 1rem;
}

.Consumo__consumo_semanal--pequeño .Consumo__cifra_grande {
  font-size: 3rem;
}

.Consumo__icono {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.Consumo__usted {
  display: grid;
  place-items: center;
  font-size: 4rem;
  padding: 1rem;
  color: var(--color-principal);
}

.Consumo__texto_destacado {
  color: var(--color-principal);
  font-weight: bold;
}

.Consumo__cifra {
  font-size: 1.5rem;
  font-weight: bold;
}

.Consumo__cifras_extra {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
}

.Consumo__link_modal_tragos {
  cursor: help;
}