.DashboardPaciente {
  display: flex;
  flex-direction: column;
}

.DashboardPaciente__superior {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.DashboardPaciente__logo {
  width: 6rem;
}

.DashboardPaciente__titulo {
  font-size: 2.5rem;
  font-weight: bold;
}

.DashboardPaciente__navegacion {
  display: flex;
  justify-content: space-around;
}

.DashboardPaciente__link {
  height: 3rem;
  display: flex;
  align-items: center;
}

.DashboardPaciente__link--activo {
  text-decoration: underline;
}