.DashboardPaciente {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

.DashboardPaciente__contenedor {
  background-color: var(--color-fondo-central);
  box-shadow: 0 .75rem 1rem rgba(0, 0, 0, .15);
  padding: 1rem;
  max-height: calc(100vh - 8.75rem);
  overflow: auto;
}

.DashboardPaciente__contenedor::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  background-color: var(--color-fondo-central);
}

.DashboardPaciente__contenedor::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.DashboardPaciente__contenedor::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--color-principal);
}

.DashboardPaciente__superior {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  width: 100%;
}

.DashboardPaciente__boton_volver {
  font-size: 2.25rem;
  width: 2rem;
}

.DashboardPaciente__contenedor_link_para_compartir {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: .5rem;
  font-size: .9rem;
}

.DashboardPaciente__link_para_compartir {
  padding: .25rem;
  width: 10rem;
  border-radius: .25rem;
  border: none;
}

.DashboardPaciente__boton_copiar_link {
  background: var(--color-principal);
  border: none;
  height: 100%;
  color: var(--color-blanco);
  cursor: pointer;
  border-radius: .25rem;
  position: relative;
}

.DashboardPaciente__indicador_copia {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  animation: animacion-indicador-copia .5s ease-out both;
}

.DashboardPaciente__logo {
  width: 4rem;
  margin-right: 1rem;
}

.DashboardPaciente__titulo {
  font-size: 1.75rem;
  font-weight: bold;
}

.DashboardPaciente__navegacion {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 0 .5rem;
  border-radius: .5rem .5rem 0 0;
}

.DashboardPaciente__link {
  padding: .8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: .15rem solid #e2e8f0;
  color: var(--color-texto);
  font-size: 1rem;
  font-weight: bold;
  flex: 1;
  transition: all .25s ease-in-out;
}

.DashboardPaciente__link:first-child {
  border-top-left-radius: .5rem;
}

.DashboardPaciente__link:last-child {
  border-top-right-radius: .5rem;
}

.DashboardPaciente__link--activo {
  border-color: var(--color-principal);
  color: var(--color-principal);
}

@keyframes animacion-indicador-copia {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
}