.Intoxicacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.Intoxicacion p {
  border: 1px solid black;
  padding: 1rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  border-radius: .25rem;
}