.ListaElementosMultiPlan__icono_flecha {
  font-size: 2.5rem;
  color: var(--color-principal);
  min-width: 2.5rem;
}

.ListaElementosMultiPlan__titulo_lista {
  display: flex;
  margin-left: 1rem;
}

.PlanDeCambio__elemento_lista_contenido--multi {
  border-radius: .25rem;
  outline: 1px solid var(--color-principal);
}