.Dashboard {
  display: flex;
  flex: 1;
}

.Dashboard__contenedor {
  flex: 1;
  padding: .5rem 1rem 1rem 1rem;
}

@media (orientation: portrait) {
  .Dashboard {
    flex-direction: column-reverse;
  }
}