.PlanDeCambio {
  display: grid;
  grid-template: repeat(10, auto) / 1fr 1fr;
  gap: 3rem;
  padding: 1rem;
  font-size: .9rem;
  font-style: italic;
  padding-bottom: 5rem;
}

.PlanDeCambio__boton_guardar {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.PlanDeCambio h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .75rem;
  text-align: center;
  grid-column: span 2;
}

.PlanDeCambio__titulo_superior {
  text-align: center;
  color: var(--color-texto);
  margin-bottom: .5rem;
  font-size: 1rem;
}

.PlanDeCambio__tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
}

.PlanDeCambio__tarjeta--ancha {
  grid-column: span 2;
}

.PlanDeCambio__lista {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: .35rem;
}

.PlanDeCambio__elemento_lista {
  position: relative;
}

.PlanDeCambio__elemento_lista_contenido {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.PlanDeCambio__elemento_lista_contenido > *:first-child {
  text-align: right;
  min-width: 30ch;
  flex: 1;
}

.PlanDeCambio__elemento_lista_contenido > *:last-child {
  text-align: left;
  min-width: 30ch;
  flex: 1;
}

.PlanDeCambio__input {
  padding: .5rem;
  overflow: visible;
  resize: none;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  border: none;
  text-align: center;
  min-width: 40ch;
}

.PlanDeCambio__input:focus {
  outline: none;
  background-color: var(--color-cursor);
}

.PlanDeCambio__boton_eliminar {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  left: -2.25rem;
  top: calc(50% - .5rem);
  opacity: 0;
  transition: all .15s ease;
  color: var(--color-principal);
}

.PlanDeCambio__elemento_lista:hover .PlanDeCambio__boton_eliminar {
  opacity: 1;
}

.PlanDeCambio__boton_agregar {
  background-color: var(--color-blanco);
  color: var(--color-principal);
  border: none;
  font-size: .75rem;
  cursor: pointer;
  width: fit-content;
  padding: 1rem;
  font-weight: 500;
}