.ListaPacientes {
  background-color: var(--color-blanco);
  color: var(--color-texto);
  padding: 2rem;
  border-radius: 1rem;
}

.ListaPacientes__titulo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ListaPacientes__elemento {
  height: 4rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-size: 1.15rem;
}