.Riesgos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  place-items: center;
  padding: 2rem 0 5rem 0;
}

.Riegos__contenedor_riesgo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Riesgos__etiqueta_riesgo {
  font-weight: 700;
}